<div class="grid-12 p-fluid">
    <p-table #dt1 [value]="cursos" [tableStyle]="{ 'min-width': '60rem' }" [globalFilterFields]="['nome']">
        <ng-template pTemplate="header">
            <tr>
                <th>Curso</th>
                <th>Descrição</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-curso>
            <tr>

                <td>
                    {{
                    curso.curso
                    }}
                </td>
                <td>
                    {{
                    curso.descricao
                    }}
                </td>
                <td>
                    <button pButton type="button" (click)="excluirCurso(curso.id)" icon="pi pi-trash"
                        class="p-button-danger mr-2"></button>
                    <button pButton type="button" [routerLink]="['/cursos', curso.id]"
                        icon="pi pi-user-edit"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
