<div class="containerUsuario">
  <div class="lista">
    <button routerLink="/login">
      <span class="material-icons"> arrow_back </span>
    </button>
    <h1 class="boxLocal">Lista de Cursos</h1>
    <div></div>
  </div>
  <div class="containers">
    <div *ngFor="let curso of cursos">
      <div class="boxGeral">
        <h1 class="boxLocal">{{ curso.curso }}</h1>
        <!-- <img class="imagem" src="./../../assets/images/matematica.jpg" alt="" /> -->
        <p class="corParagrafo">
          {{ curso.descricao }}
          <!-- Matemática é uma ciência que utiliza conceitos e técnicas para a
          formação de conhecimentos abstratos e concretos. -->
        </p>
        <div class="botao">
          <button class="transparent" mat-raised-button>Matricular</button>
        </div>
      </div>
    </div>
   
  </div>
</div>
