<div class="containerUsuario">
  <div class="lista">
    <button routerLink="/login">
      <span class="material-icons"> arrow_back </span>
    </button>
    <h1 class="boxLocal">Lista de Cursos</h1>
    <div></div>
  </div>
  <div class="containers">
    <div>
      <div class="boxGeral">
        <h1 class="boxLocal">Matemática</h1>
        <img class="imagem" src="./../../assets/images/matematica.jpg" alt="" />
        <p class="corParagrafo">
          Matemática é uma ciência que utiliza conceitos e técnicas para a
          formação de conhecimentos abstratos e concretos.
        </p>
        <div class="botao">
          <button class="transparent" mat-raised-button>Matricular</button>
        </div>
      </div>
    </div>
    <div class="boxGeral">
      <h1 class="boxLocal">Física</h1>
      <img class="imagem" src="./../../assets/images/physics.jpg" alt="" />
      <p class="corParagrafo">
        Física é uma ciência voltada ao estudo dos fenômenos naturais,
        baseando-se em teorias e por meio da observação e experimentação.
      </p>
      <div class="botao">
        <button class="transparent" mat-raised-button>Matricular</button>
      </div>
    </div>
    <div class="boxGeral">
      <h1 class="boxLocal">Química</h1>
      <img class="imagem" src="./../../assets/images/quimica.jpg" alt="" />
      <p class="corParagrafo">
        Química é a ciência que estuda a matéria, sua estrutura, formação e as
        transformações que ela sofre, levando em consideração a energia
        envolvida em todo o processo.
      </p>
      <div class="botao">
        <button class="transparent" mat-raised-button>Matricular</button>
      </div>
    </div>
  </div>
</div>
