<div class="containerUsuario">
  <div class="lista">
    <button routerLink="/login">
      <span class="material-icons"> arrow_back </span>
    </button>
    <h1 class="boxLocal">Lista de Cursos</h1>
    <div></div>
  </div>
  <div class="containers">
    <div *ngFor="let curso of cursos">
      <div>
        <div class="boxGeral">
          <div class="tituloCard">
            <h1 class="boxLocal">{{ curso.curso }}</h1>
          </div>
          <div class="paragrafoCard">
            <p class="corParagrafo">
              {{ curso.descricao }}
            </p>
          </div>
          <div class="botao">
            <button
              class="transparent"
              mat-raised-button
              (click)="matricula(curso)"
            >
              Matricular
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
